<a href="https://colab.research.google.com/github/Mayuri-cell/Project/blob/main/_Diabetic_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn  import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler 


data = pd.read_csv('/content/diabetes.csv')

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.shape

(768, 9)

No null value is there , verified .

In [ ]:
M = data.columns
Y = data['DiabetesPedigreeFunction']
print(Y)

0      0.627
1      0.351
2      0.672
3      0.167
4      2.288
       ...
763    0.171
764    0.340
765    0.245
766    0.349
767    0.315
Name: DiabetesPedigreeFunction, Length: 768, dtype: float64

In [ ]:
std_scaling = StandardScaler();
# Standard scaling is required to fit you all feature values on a same scale 
# Ex. : here glucose , skinthickness ranging from 70 - 200 , 20-40 respectively 
# We will make the of 0 to 1 for all the features

In [ ]:
X =   data.drop(columns='Outcome' , axis=1)
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
Y =   data['Outcome']
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# Fit the data you wish to 
# You can use std_scaling.fit_tranform() directly as well 

std_scaling.fit(X)

StandardScaler()

In [ ]:
scaled_data=std_scaling.transform(X)

In [ ]:
print(scaled_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
scaled_data_train , scaled_data_test , Y_train , Y_test = train_test_split(scaled_data , Y , test_size=0.1 , stratify = Y , random_state = 2)

Here , test_size : % of data of the dataset is going to be used for testing
Here , 10% is for testing the accuracy

Model training

In [ ]:
#SVM Linear Model :

model = svm.SVC(kernel='linear')

In [ ]:
# Fit :
model.fit(scaled_data_train  ,  Y_train)
# scaled_data_train : features used in training of the model (80% of the dataset)
# Y_train : Predicted output for the 80% input features of the dataset 
# Their relation i/p - o/p is considered linear SVM here

SVC(kernel='linear')

In [ ]:
 predicted_output = model.predict(scaled_data_train)
print(predicted_output)

# For the scaled _data_train output predicted by the model is as follows 
# Original output is in Y_test , let's check the difference

[0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1
 1 0 0 1 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0
 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0
 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 1 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0
 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1 1 1 0 0
 1 0 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1
 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0 0 0 0 0 1 1 1 1 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0
 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0 1 1 1 0 1 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0]

In [ ]:
score = accuracy_score(predicted_output , Y_train )
print(score)

0.784370477568741

In [ ]:
predicted_output = model.predict(scaled_data_test)
score = accuracy_score(predicted_output , Y_test )
print(score)

0.7792207792207793

In [ ]:
scaled_data.shape

(768, 8)

In [ ]:
# Model excepts 768 data inputs/rows having 8 features each
# Reshaping of the input is required for single person i/p dectection
np_input = [0 ,124 ,30 , 80 , 46 , 100 , 0 , 21 ]
np_array = np.asarray(np_input)
np_array_reshaped = np_array.reshape(1 , -1)

In [ ]:
std_scaling.fit(np_array_reshaped)

StandardScaler()

In [ ]:
transformed_data= std_scaling.transform(np_array_reshaped)

In [ ]:
predicted_output = model.predict(transformed_data)
print(predicted_output)

[0]

In [ ]:
if predicted_output==0 :
  print(" The person is non-diabetic with 79% accuracy result . ")

else :
  print(" The person is diabetic")

 The person is non-diabetic with 79% accuracy result .

1.Check for null values of the dataset .
2.Decide the ML model 
3.StandardScale , fit and transform of the dataset is required before giving to the model

In [ ]:
# StandardScaler()
# StandardScaler.fit()
# StandardScaler.transform() or StandardScaler.fit_transform()
# accracy_score(predicted , original )